# Example image manifest

id=appliance-rpi5-safe
channel=stable
board_pack=raspberry-pi-5
page_size=16k
payload_mode=platform-only
optional_payload=diretta-personal-use-postinstall
qualification=prototype
recovery_profile=default
